// Colour pallet found: https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd
$off-white: #E0E1DD;
$primary-lightest: #778DA9;
$highlight: #415A77;
$primary-dark: #1B263B;
$primary-darkest: #0D1B2A;